* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.title {
  background-color: #6080bf;
  h1 {
    padding: 5rem;
    text-align: center;
    color: #f2f2f2;
  }
}

// index login form
main {
  .loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
  }
  h2 {
    margin: 10px;
  }
  form {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      font-size: 20px;
      padding: 5px;
      margin: 10px;
    }
  }
}

//flase page
.relogin {
  display: flex;
  justify-content: center;
  a {
    margin: 2rem;
    font-size: 20px;
    color: #595959;
    text-decoration: none;
  }
}

//success page
.success-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  .content {
    padding: 3rem;
    p {
      font-size: 20px;
    }
  }
  .success-logout {
    a {
      font-size: 20px;
      color: #595959;
      text-decoration: none;
    }
  }
}
